.container {
  position: absolute;
  min-width: 300px;
  // width: 30%;
  height: 100vh;
  background-color: white;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  input {
    padding: 11px 19px;
    border: #e6eef5 solid 2px;
    border-radius: 5px;
    background-color: #fbfbfb;
    color: #263747;
    width: 300px;
  }
}

.regions {
  width: 300px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.write_btn {
  display: flex;
  border-radius: 8px;
  // height: 40px;
  justify-content: center;
  border: none;
  padding: 12px 20px;
  align-items: center;
  background-color: #5376C6;
  color: white;
  font-weight: 700;
  cursor: pointer;

  &:disabled {
    // disabled 상태일 때의 스타일
    background-color: lightgrey;
    color: rgb(255, 255, 255);
  }
}
