.main {
  max-width: 1200px;
  padding: 0 20px;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
}
.preview__container {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.preview__container2 {
  @extend .preview__container;
  width: 50%;
}

.preview__title {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.5;
    word-break: keep-all;
  }
  a{
    color: #667380;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
}

.card__area {
  display: grid;
  gap: 32px;
  
}

.boards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}