.social-login-button {
  display: flex; /* 플렉스 컨테이너를 설정 */
  align-items: center; /* 세로축(교차축)으로 중앙 정렬 */
  justify-content: center; /* 가로축(주축)으로 중앙 정렬 */
  padding: 12px 4px; /* 동일한 상하, 좌우 패딩 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 동일한 둥근 모서리 */
  font-family: 'NanumGothic', sans-serif; /* 동일한 폰트 */
  font-size: 16px; /* 동일한 폰트 크기 */
  font-weight: bold; /* 동일한 폰트 굵기 */
  cursor: pointer; /* 커서 스타일 */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24); /* 동일한 그림자 효과 */
  width: 250px; /* 동일한 버튼의 너비 */
  text-align: center; /* 텍스트 가운데 정렬 */
  box-sizing: border-box; /* 박스 사이징 */
  margin-bottom: 10px; /* 버튼 사이의 마진 */
}

/* 네이버 버튼 특정 스타일 */
.naver-login-button {
    display: flex; /* 플렉스박스 설정 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    justify-content: center; /* 가로 방향으로 중앙 정렬 */
  background-color: #00c73c; /* 네이버 컬러 */
  color: white; /* 네이버 버튼 텍스트 색상 */
}

/* 카카오 버튼 특정 스타일 */
.kakao-login-button {
  background-color: #FEE500; /* 카카오 컬러 */
  color: #3C1E1E; /* 카카오 버튼 텍스트 색상 */
}

.kakao-login-button .button-logo {
  width: 20px; /* 카카오 로고의 너비 조정 */
  height: 20px; /* 카카오 로고의 높이 조정 */
  margin-right: 15px;
  /* ... 기타 필요한 스타일 ... */
}

/* 네이버 로그인 버튼 내 로고 이미지 스타일 */
.naver-login-button .button-logo {
  width: 24px; /* 네이버 로고의 너비 조정 */
  height: 24px; /* 네이버 로고의 높이 조정 */
  margin-right: 15px;
  /* ... 기타 필요한 스타일 ... */
}