/* 공통 변수 설정 */
$font-stack: 'NanumGothic', sans-serif;
$font-size: 16px;
$font-weight-bold: bold;
$button-width: 250px;
$button-padding: 12px 4px;
$button-border-radius: 4px;
$button-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
$button-margin-bottom: 10px;

/* 공통 버튼 스타일 */
.social-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  border: none;
  border-radius: $button-border-radius;
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  cursor: pointer;
  box-shadow: $button-box-shadow;
  width: $button-width;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: $button-margin-bottom;

  &.naver-login-button {
    background-color: #00c73c;
    color: white;

    .button-logo {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }

  &.kakao-login-button {
    background-color: #FEE500;
    color: #3C1E1E;

    .button-logo {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
  }
}